    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .jumbotron {
     background:#1e82b5;
     color:#fff;
     padding: 0px 0;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #33adff;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 450px
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 50px;
      background-color: #ffffff;
      height: 100%;

    }
    .sidebar {
      background-color: #f2f2f2;
    }
    .list-group-item {    
      margin-bottom: none;
      background-color: #f2f2f2;
      border: none;
	}	
	
    /* Set black background color, white text and some padding */
    footer {
      background-color: #f2f2f2;
      position: absolute;
      color: black;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 15px;
    }
    .pago {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }