<div class="col-sm-8 text-left"> 
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Alta Perfiles</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Registro de Perfiles
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        Nombre del Perfil: <input type="text" class="form-control"
					ng-model="perfil.tipo"> <br>
				<table class="table table-bordered">	
					<tbody>
						<tr>
							<td>Cat&aacute;logo de Productos</td>
							<td><input type="checkbox" ng-model="perfil.permisos[0]"></td>
						</tr>
						<tr>
							<td>Ventas</td>
							<td><input type="checkbox" ng-model="perfil.permisos[1]"></td>
						</tr>
						<tr>
							<td>Altas a Inventario</td>
							<td><input type="checkbox" ng-model="perfil.permisos[2]"></td>
						</tr>
						<tr>
							<td>Facturaci&oacute;n</td>
							<td><input type="checkbox" ng-model="perfil.permisos[3]"></td>
						</tr>
						<tr>
							<td>Alta Usuarios</td>
							<td><input type="checkbox" ng-model="perfil.permisos[4]"></td>
						</tr>
						<tr>
							<td>Editar Usuarios</td>
							<td><input type="checkbox" ng-model="perfil.permisos[5]"></td>
						</tr>
						<tr>
							<td>Crear Perfiles</td>
							<td><input type="checkbox" ng-model="perfil.permisos[6]"></td>
						</tr>
						<tr>
							<td>Editar Perfiles</td>
							<td><input type="checkbox" ng-model="perfil.permisos[7]"></td>
						</tr>
						<tr>
							<td>Alta Proveedores</td>
							<td><input type="checkbox" ng-model="perfil.permisos[8]"></td>
						</tr>
						<tr>
							<td>Editar Proveedores</td>
							<td><input type="checkbox" ng-model="perfil.permisos[9]"></td>
						</tr>
						<tr>
							<td>Alta Clientes</td>
							<td><input type="checkbox" ng-model="perfil.permisos[10]"></td>
						</tr>
						<tr>
							<td>Editar Clientes</td>
							<td><input type="checkbox" ng-model="perfil.permisos[11]"></td>
						</tr>
						<tr>
							<td>Datos Fiscales</td>
							<td><input type="checkbox" ng-model="perfil.permisos[12]"></td>
						</tr>
					</tbody>
				</table>
				<br>
				<button type="submit" value="Guardar" class="btn btn-primary"
					ng-click="EnviarFormulario()">Guardar</button>
				<button type="submit" value="Limpiar" class="btn btn-primary">Limpiar</button>
			<nav>
				<div class="center-blog"></div>
			</nav>
                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
      </div>
  </div>
</div ng-view>
