<div class="col-sm-8 text-left">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Edita Tornillos</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Modificación de Tornilos</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<form>
							<div class="col-md-6">
								Nombre:<br> <input type="text" class="form-control"
									ng-model="newTornillo.nombre"> <br>
							</div>
							<div class="col-md-6">
								Clave Interna:<br> <input type="text" class="form-control"
									ng-model="newTornillo.clave"> <br>
							</div>
							<div class="col-md-6">
								Clave SAT:<br> <input type="text" class="form-control"
									ng-model="newTornillo.claveSat"> <br>
							</div>
							<div class="col-md-6">
								Clave de Unidad SAT:<br> <input type="text"
									class="form-control" ng-model="newTornillo.claveUnidad">
								<br>
							</div>
							<div class="col-md-6">
								Precio Mostrador:<br> <input type="text"
									class="form-control" ng-model="newTornillo.precioMostrador">
								<br>
							</div>
							<div class="col-md-6">
								Precio Mayoreo:<br> <input type="text" class="form-control"
									ng-model="newTornillo.precioMayoreo"> <br>
							</div>
							<div class="col-md-6">
								Precio Credito:<br> <input type="text" class="form-control"
									ng-model="newTornillo.precioCredito"> <br>
							</div>
							<div class="col-md-6">
								Medida:<br> <input type="text" class="form-control"
									ng-model="newTornillo.medidas"> <br>
							</div>
							<div class="col-md-6">
								Marca:<br> <input type="text" class="form-control"
									ng-model="newTornillo.marca"> <br>
								<div class="col-md-6">
									M&aacute;ximo:<br> <input type="text" class="form-control"
										ng-model="newTornillo.maximo"> <br>
								</div>
								<div class="col-md-6">
									M&iacute;nimo:<br> <input type="text" class="form-control"
										ng-model="newTornillo.minimo"> <br>
								</div>
							</div>
							<div class="col-md-6">
								Proveedor:<br> <select class="form-control"
									ng-model="newTornillo.proveedor">
									<option ng-repeat="prov in proveedores">{{prov.nombre}}</option>
								</select><br>
							</div>
							<div class="col-md-6">
								Cantidad por Mayoreo:<br> <input type="text"
									class="form-control" ng-model="newTornillo.mayoreo"> <br>
							</div>
							<br>
							<div class="col-md-12">
								<button type="submit" value="Registrar" class="btn btn-primary"
									ng-click="editaTornillo(newTornillo)">Modificar</button>
							</div>
						</form>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
	</div>
</div>
</div ng-view>

