<div class="col-sm-10 text-left">
	<div id="page-wrapper">
		<div class="row">

			<div class="col-lg-12">
				<h1 class="page-header">Historial de Ventas</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-10">
					<div class="input-group input-daterange">
						<input type="text" class="form-control" ng-model="fechaInicio">
						<div class="input-group-addon">-</div>
						<input type="text" class="form-control" ng-model="fechaFin">
					</div>
				</div>
				<div class="col-md-2">
					<button class="btn btn-small" ng-click="buscar()">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</div>
				<div class="col-md-6">
					<button class="btn" ng-click="cargarPagina(1)">Ver todos</button>
				</div>
			</div>
			<div class="col-md-6">
				<a class="btn btn-small" href="/ventas/corteDeCaja"
					download="CorteDeCaja.xls">Corte de Caja</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Ventas</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<table width="100%"
							class="table table-striped table-bordered table-hover"
							id="dataTables-example">
							<thead>
								<tr>
									<th>Fecha</th>
									<th>Folio</th>
									<th>Cliente</th>
									<th>Monto</th>
									<th>Forma de Pago</th>
									<th>Estatus</th>
									<th>Acciones</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="venta in ventas" class="odd gradeX">
									<td>{{venta.fechaString}}</td>
									<td>{{venta.folio}}</td>
									<td>{{venta.cliente}}</td>
									<td>{{venta.monto}}</td>
									<td>{{venta.formaDePago}}</td>
									<td>{{venta.estatus}}</td>
									<td ng-hide="venta.version=='3.3'">
									<a class="btn btn-info"
										data-toggle="tooltip" ng-show="venta.estatus!='FACTURADO'"
										title="Imprimir nota" href="ventas/descargaNota/{{venta.id}}"
										download="{{venta.folio+'.pdf'}}"> <i
											class="glyphicon glyphicon-print"></i>
									</a>
									
										<button class="btn btn-success" data-toggle="tooltip"
											ng-show="venta.estatus!='FACTURADO' && venta.estatus!='CANCELADO'"
											title="Facturar" ng-click="facturar(venta)">
											<i class="glyphicon glyphicon-list-alt"></i>
										</button> <a class="btn btn-danger" data-toggle="tooltip"
										ng-show="venta.estatus=='FACTURADO' || venta.estatus=='CANCELADO'"
										title="Imprimir PDF" href="ventas/pdfDescarga/{{venta.uuid}}"
										download="{{venta.uuid+'.pdf'}}"> <i
											class="glyphicon glyphicon-print"></i>
									</a> <a class="btn btn-primary" data-toggle="tooltip"
										ng-show="venta.estatus=='FACTURADO' || venta.estatus=='CANCELADO'"
										title="Imprimir XML" href="ventas/xmlDescarga/{{venta.uuid}}"
										download="{{venta.uuid+'.xml'}}"> <i
											class="glyphicon glyphicon-print"></i>
									</a>
										<button class="btn btn-info" data-toggle="tooltip"
											ng-show="(venta.estatus=='FACTURADO' || venta.estatus=='CANCELADO')&&venta.cliente!='Otro'"
											title="Enviar mail" ng-click="mailFactura(venta)">
											<i class="glyphicon glyphicon-envelope"></i>
										</button>
										<button class="btn btn-danger" data-toggle="tooltip"
											ng-show="venta.estatus=='FACTURADO'" title="Cancelar"
											ng-click="cancelarFactura(venta)">
											<i class="glyphicon glyphicon-ban-circle"></i>
										</button></td>
									<!-- botones 33 -->
									<td ng-show="venta.version=='3.3'"><a class="btn btn-info"
										data-toggle="tooltip" ng-show="venta.estatus!='FACTURADO'"
										title="Imprimir Pedido" href="ventas/descargaNota/{{venta.id}}"
										download="{{venta.folio+'.pdf'}}"> <i
											class="glyphicon glyphicon-print"></i>
									</a>
									<a class="btn btn-warning"
										data-toggle="tooltip"
										title="Imprimir Ticket" href="ventas/generaTicket/{{venta.id}}"
										download="{{venta.folio+'.pdf'}}"> <i
											class="glyphicon glyphicon-print"></i>
									</a>
										<button class="btn btn-success" data-toggle="modal"
											ng-show="venta.estatus=='VENDIDO' && venta.estatus!='CANCELADO'"
											title="Facturar" data-target="#myModal3"
											ng-click="paraTimbrar(venta)">
											<i class="glyphicon glyphicon-list-alt"></i>
										</button> <a class="btn btn-danger" data-toggle="tooltip"
										ng-show="venta.estatus=='FACTURADO' || venta.estatus=='CANCELADO'"
										title="Imprimir PDF"
										href="ventas33/pdfDescarga/{{venta.uuid}}"
										download="{{venta.uuid+'.pdf'}}"> <i
											class="glyphicon glyphicon-print"></i>
									</a> <a class="btn btn-primary" data-toggle="tooltip"
										ng-show="venta.estatus=='FACTURADO' || venta.estatus=='CANCELADO'"
										title="Imprimir XML"
										href="ventas33/xmlDescarga/{{venta.uuid}}"
										download="{{venta.uuid+'.xml'}}"> <i
											class="glyphicon glyphicon-print"></i>
									</a>
										<button class="btn btn-info" data-toggle="tooltip"
											ng-show="(venta.estatus=='FACTURADO' || venta.estatus=='CANCELADO')&&venta.cliente!='Otro'"
											title="Enviar mail" ng-click="mailFactura33(venta)">
											<i class="glyphicon glyphicon-envelope"></i>
										</button>
										<button class="btn btn-danger" data-toggle="tooltip"
											ng-show="venta.estatus=='FACTURADO'" title="Cancelar"
											ng-click="cancelarFactura33(venta)">
											<i class="glyphicon glyphicon-ban-circle"></i>
										</button>

										<button class="btn btn-warning" data-toggle="tooltip"
											ng-show="venta.estatus=='GENERADO'" title="Confirmar Venta"
											ng-click="confirmarVenta(venta)">
											<i class="glyphicon glyphicon-ok-sign"></i>
										</button>
										<button class="btn btn-warning" data-toggle="tooltip"
											ng-show="venta.estatus=='VENDIDO'" title="Devolución"
											ng-click="cancelarVenta(venta)">
											<i class="glyphicon glyphicon-retweet"></i>
										</button>

										<button class="btn btn-warning" data-toggle="tooltip"
											ng-show="venta.estatus!='FACTURADO' && venta.estatus!='CANCELADO' && venta.estatus!='DEVOLUCION'" 
											title="Cambio de cliente" ng-click="cambiarCliente(venta)">
											<i class="glyphicon glyphicon-user"></i><i
												class="glyphicon glyphicon-share-alt"></i>
										</button></td>
								</tr>
							</tbody>
						</table>
						<!-- /.table-responsive -->
						<div>
							<ul class="pagination .pagination-sm">
								<li ng-repeat="abc in paginas" id="{{'pag'+abc}}"><a
									ng-click="cargarPagina(abc)">{{abc}}</a></li>

							</ul>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
	</div>
</div>


<div class="modal fade" id="myModal3" role="dialog" tabindex='-1'>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group ">
							<label for="example-text-input" class="col-2 col-form-label">Uso
								de CFDI:</label>
							<div class="col-10">
								<!-- 							<input class="form-control facInp" type="text" value="" -->
								<!-- 								id="condPago" name="condPago" -->
								<!-- 								ng-model="comprobante.receptor.usoCFDI.valor"> -->
								<select class="form-control facInp" ng-model="usoCFDI"
									ng-change="usoFDIhide()" required>
									<option value="G01">G01-Adquisici&oacute;n de
										mercancias</option>
									<option value="G02">G02-Devoluciones, descuentos o
										bonificaciones</option>
									<option value="G03">G03-Gastos en general</option>
									<option value="I01">I01-Construcciones</option>
									<option value="I02">I02-Mobilario y equipo de oficina
										por inversiones</option>
									<option value="I03">I03-Equipo de transporte</option>
									<option value="I04">I04-Equipo de computo y accesorios</option>
									<option value="I05">I05-Dados, troqueles, moldes,
										matrices y herramental</option>
									<option value="I06">I06-Comunicaciones
										telef&oacute;nicas</option>
									<option value="I07">I07-Comunicaciones satelitales</option>
									<option value="I08">I08-Otra maquinaria y equipo</option>
									<option value="D01" class="nomoral">D01-Honorarios
										m&eacute;dicos, dentales y gastos hospitalarios.</option>
									<option value="D02" class="nomoral">D02-Gastos
										m&eacute;dicos por incapacidad o discapacidad</option>
									<option value="D03" class="nomoral">D03-Gastos
										funerales.</option>
									<option value="D04" class="nomoral">D04-Donativos.</option>
									<option value="D05" class="nomoral">D05-Intereses
										reales efectivamente pagados por cr&eacute;ditos hipotecarios
										(casa habitaci&oacute;n).</option>
									<option value="D06" class="nomoral">D06-Aportaciones
										voluntarias al SAR.</option>
									<option value="D07" class="nomoral">D07-Primas por
										seguros de gastos m&eacute;dicos.</option>
									<option value="D08" class="nomoral">D08-Gastos de
										transportaci&oacute;n escolar obligatoria.</option>
									<option value="D09" class="nomoral">D09-Dep&oacute;sitos
										en cuentas para el ahorro, primas que tengan como base planes
										de pensiones.</option>
									<option value="D10" class="nomoral">D10-Pagos por
										servicios educativos (colegiaturas)</option>
									<option value="P01">P01-Por definir</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<button class="btn2 btn-small btn-success" data-toggle="modal"
							type="button" data-target="#myModal3" ng-click="facturar33()">Timbrar</button>
					</div>
				</div>
			</div>
			<!-- ng-click="facturar33(venta)" -->
		</div>
	</div>
</div>

<div class="modal fade" id="cambioCliente" role="dialog" tabindex='-1'>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Cambiar de Cliente: {{ventaActual.cliente}}	</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4 col-md-offset-4><label for="email">
						Cliente:</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<select class="form-control input-sm" ng-model="indice"
							style="width: inherit;">
							<option ng-repeat="cliente in clientes" value="{{$index}}">{{cliente.nombre}}</option>
						</select>

					</div>
					<div class="col-md-4">
						<button class="btn btn-primary" ng-click="cargaClientes()">
							<i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
						</button>
					</div>
					
				</div>
			</div>
			<!-- ng-click="facturar33(venta)" -->
			 <div class="modal-footer">
			 	<div class="col-md-12">
						<button class="btn2 btn-small btn-success" 
							type="button"
							ng-click="actualizarVenta()">Guardar</button>
						<button type="button" class="btn2 btn-small btn-secondary" data-dismiss="modal">Cerrar</button>
					</div>
			 </div>
		</div>
	</div>
</div>

<div class="modal fade" id="confirmacion" role="dialog" tabindex='-1'>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirmar Acci&oacute;n</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4 col-md-offset-4><label for="email">
						Presione Aceptar para continuar.
					</div>
				</div>
			</div>
			<!-- ng-click="facturar33(venta)" -->
			 <div class="modal-footer">
			 	<div class="col-md-12">
						<button class="btn2 btn-small btn-success" 
							type="button"
							ng-click="funcion()">Aceptar</button>
						<button type="button" class="btn2 btn-small btn-secondary" data-dismiss="modal">Cerrar</button>
					</div>
			 </div>
		</div>
	</div>
</div>


